/*
============== Variables ==============
*/
$text-primary: #ffffff;
$text-secondary: #212529;
$text-tertiary: #dc2430;
$text-quaternary: #6C757D;
$gradient-primary: $text-tertiary;
$gradient-secondary: #7b4397;
$background-primary: #fdcc52;
$background-footer: #222222;
$landing-background:  url("data:image/svg+xml,%3Csvg width='84' height='84' viewBox='0 0 84 84' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23c4c4c4' fill-opacity='0.17'%3E%3Cpath d='M84 23c-4.417 0-8-3.584-8-7.998V8h-7.002C64.58 8 61 4.42 61 0H23c0 4.417-3.584 8-7.998 8H8v7.002C8 19.42 4.42 23 0 23v38c4.417 0 8 3.584 8 7.998V76h7.002C19.42 76 23 79.58 23 84h38c0-4.417 3.584-8 7.998-8H76v-7.002C76 64.58 79.58 61 84 61V23zM59.05 83H43V66.95c5.054-.5 9-4.764 9-9.948V52h5.002c5.18 0 9.446-3.947 9.95-9H83v16.05c-5.054.5-9 4.764-9 9.948V74h-5.002c-5.18 0-9.446 3.947-9.95 9zm-34.1 0H41V66.95c-5.053-.502-9-4.768-9-9.948V52h-5.002c-5.184 0-9.447-3.946-9.95-9H1v16.05c5.053.502 9 4.768 9 9.948V74h5.002c5.184 0 9.447 3.946 9.95 9zm0-82H41v16.05c-5.054.5-9 4.764-9 9.948V32h-5.002c-5.18 0-9.446 3.947-9.95 9H1V24.95c5.054-.5 9-4.764 9-9.948V10h5.002c5.18 0 9.446-3.947 9.95-9zm34.1 0H43v16.05c5.053.502 9 4.768 9 9.948V32h5.002c5.184 0 9.447 3.946 9.95 9H83V24.95c-5.053-.502-9-4.768-9-9.948V10h-5.002c-5.184 0-9.447-3.946-9.95-9zM50 50v7.002C50 61.42 46.42 65 42 65c-4.417 0-8-3.584-8-7.998V50h-7.002C22.58 50 19 46.42 19 42c0-4.417 3.584-8 7.998-8H34v-7.002C34 22.58 37.58 19 42 19c4.417 0 8 3.584 8 7.998V34h7.002C61.42 34 65 37.58 65 42c0 4.417-3.584 8-7.998 8H50z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"), linear-gradient(to right, $gradient-primary, $gradient-secondary);
$section-width-mobile: 85%;
$separator-color: #dc243080;
$separator-position: 2em;
$layout-brakepoint: 50rem;
$section-width-desktop: 70%;
$section-width-desktop-max: 90rem;
    
/*
============== Global ==============
*/
:root{
    font-size: 62.5%; // Sets 1rem to 10px in default 16px case
}

body{
    font-size: 160%; // In case of no rem support
    font-size: 1.6rem; // Sets back to 16px
    font-family: Catamaran, Helvetica, Arial, sans-serif;
    color: $text-secondary;

    @media only screen and (min-width: $layout-brakepoint){
        font-size: 200%;
    }

}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
/*
============== BEM ==============
*/
/*
============================
Landing section
============================
*/
#about {
    // Visual
    background-image: $landing-background;
    // Typography
    color: $text-primary;
}
.landing-section {
    //Position
    margin-left: auto;
    margin-right: auto;
    // Box model
    //width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    

    &__header {

        font-size: 2.5em;           
        text-shadow: 3px 4px 1px rgba(0, 0, 0, 0.5);
        margin-bottom: .5em;
    }

    &__description {
        order: 2;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: flex-start;

        width: $section-width-mobile;
        min-height: 30%;
        text-align: center;
        
    }

    &__btn-primary {
        display: block;

        padding: .5em 2em;
        //max-width: 10rem;

        letter-spacing: .1rem;
        border: .2rem solid $text-primary;
        border-radius: 3rem;
        transition: .2s ease;

        &:hover,
        &:active {
            color: $background-primary;
            border-color: $background-primary;
        }
    }

    &__avatar {
        order: 1;
        max-height: 35%;
        max-width: $section-width-mobile;

        border-radius: 50%;
        box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.5);
    }
    
    $scroll-icon-width: 20px;
    // Set on 1/4 of the scroll icon height
    $scroll-wheel-position: (.25 * 2 * $scroll-icon-width);
    @keyframes scroll {
        0% {
            transform: translateY(0);
        }

        50% {
            transform: translateY( .5 * $scroll-wheel-position);
        }

        100% {
            transform: translateY(0);
        }
    }

    &__scroll-icon{
        position: fixed;
        bottom: 1rem;
        right: 1rem;

        text-transform: uppercase;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;

        transition: .5s ease;

        &--is-hidden {
            opacity: 0;
        }

        &::before {
            margin-bottom: .5rem;
            content: '';
            width: $scroll-icon-width;
            height: (2 * $scroll-icon-width);

            border-radius: $scroll-icon-width;
            border: (.1 * $scroll-icon-width) solid $background-primary;
        }

        &::after {
            position: absolute;
            top: $scroll-wheel-position;

            content: '';
            width: (.25 * $scroll-icon-width);
            height: (.5 * $scroll-icon-width);

            background-color: $text-primary;
            border-radius: .5rem;

            animation: scroll 2s ease-out infinite forwards;
        }
    }
}

@media only screen and (min-width: $layout-brakepoint) {
    .landing-section {
        flex-direction: row;
        width: $section-width-desktop;
        max-width: $section-width-desktop-max;


        &__description {
            order: 1;
            text-align: left;
            align-items: flex-start;
        }

        &__avatar {
            order: 2;
            width: 35%;
            max-width: 20rem;
            max-height: none;
            margin-left: 5%;
        }

        &__scroll-icon {
            right: 50%;
        }
    }
}
/*
============================
Nav bar section
============================
*/

.nav-bar{

    $border-size: .2rem;
    $bar-height: 2em;

    position: sticky;
    top: -$border-size;
    z-index: 1;
    height: $bar-height;

    font-weight: bold;
    font-size: 1.4em;

    color: $text-primary;
    background-image: $landing-background;
    
    box-shadow: 0 5px 5px 2px rgba(0,0,0,0.5);

    border-top: $border-size solid $text-primary;
    border-bottom: $border-size solid $text-primary;
    
    @media only screen and (min-width: $layout-brakepoint) {
        font-size: 1.2em;
    }

    &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        height: $bar-height;
        max-width: 150rem;
        margin-left: auto;
        margin-right: auto;
    }

    & p {
        display: inline-block;
        text-shadow: 3px 4px 1px rgba(0, 0, 0, 0.5);
        margin: 1rem;
    }

    &__btn-primary {
        margin-right: 1rem;
        width: 5em;
        height: 1.5em;

        color: $text-primary;
        font-weight: bold;
        letter-spacing: .1rem;

        border: .1rem solid $text-primary;
        border-radius: 1rem;
        background-color: transparent;

        transition: scaleY .2s ease;

        &:hover,
        &:active {
            color: $background-primary;
            border-color: $background-primary;
        }
    }
    @media only screen and (min-width: $layout-brakepoint) {
        &__btn-primary {
            display: none;
        }
    }

    $number-of-links: 3;

    &__links {
        position: absolute;
        top: $bar-height;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        padding-left: 1em;

        height: $number-of-links * 2em;
        width: 100%;
        box-sizing: border-box;
        transition: .2s ease;

        background-image: $landing-background;
        border-top: $border-size solid $text-primary;
        border-bottom: $border-size solid $text-primary;

        transform-origin: top;
        transform: scaleY(0);



        &--is-open {
            transform: scaleY(1);
        }

    }
    
    &__link {
        display: block;

        &:hover,
        &:active{
            color: $background-primary;
        }
    }

    @media only screen and (min-width: $layout-brakepoint) {
       
        &__links {
            transform: scaleY(1);
            position: relative;
            height: auto;
            top: auto;
            flex-direction: row;
            width: 15em;
            background: none;
            border: none;
            justify-content: center;
        }

        &__link {
            display: inline;
            margin-right: 1em;
        }
    }
}

/*
============================
Expierience section
============================
*/
$corner-height: 100px;
.expierience-section {
    text-align: center;

    background-color: $background-primary;

    &>div {
        width: $section-width-mobile;
        margin-left: auto;
        margin-right: auto;

        @media only screen and (min-width: $layout-brakepoint) {
            width: $section-width-desktop;
            max-width: $section-width-desktop-max;
        }
    }

    &__header {

        font-size: 2.5em;
        margin: 0;
        padding-top: 2em;
        margin-bottom: 3rem;
    }

    &__red-text {
        color: $text-tertiary;

        &--no-bottom-margin {
            margin-bottom: 0;
        }
    }    
}

.tools-list{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: baseline;

    margin-top: 3rem;
    margin-bottom: 3rem;

    &__item {
        display: inline-block;
        width: 4.5em;
        margin-bottom: 1em;
    }

    &__logo{
        height: 3em;
        display: block;
        margin: .3em auto;
    }
}

/*
============================
Projects section
============================
*/

.projects-section {
    position: relative; // For svg positioning
    padding-top: $corner-height;
    width: 100%;

    &__corner {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: $corner-height;
    }

    &__header {
        @extend .expierience-section__header;

        &--no-top-padding{
            padding-top: 0;
        }
    }

    &__red-text{
        @extend .expierience-section__red-text;
    }

    &__projects-list {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
    }

    @media only screen and (min-width: $layout-brakepoint) {
        padding-top: $corner-height*1.5;

        &__corner {
            height: $corner-height * 1.5;
        }
    }

}
.projects-container {
    width: $section-width-mobile;
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;

    text-align: center;

    @media only screen and (min-width: $layout-brakepoint) {
        width: 95%;
        max-width: $section-width-desktop-max * 1.5;
    }
}
.project-tile {
    padding-top: $separator-position;

    @media only screen and (min-width: $layout-brakepoint) {
        max-width: 35rem;
    }
    &--bottom-separator{
        $separator-height: .05em;

        padding-bottom: $separator-position;
    }

    &__project-image {
        width: 100%;
        max-width: 40rem;
    }

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;

        & h3 {
            margin: 0;
        }
    }

    &__project-logo {
        height: 2em;
        margin-left: 1em;
    }

    &__red-text {
        @extend .expierience-section__red-text;
    }

    & h4 { 
        text-align: left;
    }

    &__list {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: baseline;
    }

    &__list-item {
        display: inline-block;
        width: 2.5em;
    }

    @keyframes button-arrow {
        0% {
            transform: translateX(0);
        }

        50% {
            transform: translateX(.5em);
        }

        100% {
            transform: translateX(0);
        }
    }
    &__btn-secondary {
        display: inline-block;
        position: relative;

        margin: 1em 1em 0;
        padding: .4em 2em;
        max-width: 10em;

        letter-spacing: .1rem;
        text-transform: uppercase;

        border: .2rem solid $text-secondary;
        border-radius: 3em;

        transition: .2s ease;

        &:hover,
        &:active {
            color: $background-primary;
            border-color: $background-primary;

            &::after {
                animation: button-arrow 1s ease infinite forwards;
                content: '\279C';

                position: absolute;
            }
        }
    }
}

.contact-section {
    position: relative; // For svg positioning

    padding-top: $corner-height;

    text-align: center;

    background-color: $background-primary;

    &__corner {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: $corner-height;

        
    }

    &>div {
            width: $section-width-mobile;
            max-width: 50rem;
            margin-left: auto;
            margin-right: auto;

            @media only screen and (min-width: $layout-brakepoint) {
                width: $section-width-desktop;
                max-width: $section-width-desktop-max*.7;
            }
        }

    &__header {
        @extend .expierience-section__header;

        &--no-top-padding{
            @extend .projects-section__header--no-top-padding;
        }
    }

    &__red-text{
        @extend .expierience-section__red-text;
    }

    

    $input-height: 2em;
    // Calculation to move label to edge of input. 
    // Transform origin in middle of label height.
    $tranform-label: translateY( -($input-height + 1em) / 2 ) scale(.9);

    &__input-container {
        position: relative;

        padding-top: ($input-height / 2);
                
        color: $text-quaternary;
        text-align: left;
    }

    &__label-input {
        position: absolute;
        bottom: ($input-height - 1em) / 2;
        left: 0;
        transform-origin: 0 0;
        transition: all .2s ease;

        .contact-section__input:focus + & {
            
            transform: $tranform-label;
            color: $text-tertiary
        }

        .contact-section__input:not(:placeholder-shown) + & {
            transform: $tranform-label;
        }
    }

    &__input {
        appearance: none;
        width: 100%;
        height: $input-height;
        border: 0;
        font-family: inherit;
        
        font-weight: normal;
        border-bottom: .1em solid $text-quaternary;
        background: none;
        color: $text-secondary;
        transition: all .2s ease;

            &:focus {
                outline: none;
                background: none;
                border-bottom-color: $text-tertiary;
            }
    }

    &__textarea {
        box-sizing: border-box;
        appearance: none;
        width: 100%;
        padding: .5em;
        margin-top: .5em;
        font-family: inherit;
        
        font-weight: normal;
        border: .1em solid $text-quaternary;
        background: none;
        color: $text-secondary;
        transition: border-color .2s ease;
        

        &:focus {
            outline: none;
            border-color: $text-tertiary;
        }
    }
    
    &__label-textarea {
        position: absolute;
        top: (1.75em);
        left: .2em;
        transition: all .2s ease;

        .contact-section__textarea:focus + & {
            transform: $tranform-label;            
            color: $text-tertiary;
            left: 0;
        }

        .contact-section__textarea:not(:placeholder-shown) + & {
            transform: $tranform-label;
            left: 0;
        }
    }

    &__btn-primary {
        background: none;

        margin: .5em 0 2em;
        padding: .5em 3em;

        letter-spacing: .1rem;
        font-weight: bold;
        color: $text-tertiary;

        border: .2rem solid $text-tertiary;
        border-radius: 3rem;
        transition: .2s ease;

        &:hover,
        &:active {
            background-color: $text-tertiary;
            color: $background-primary;
        }
    }

    @media only screen and (min-width: $layout-brakepoint) {
        padding-top: $corner-height*1.5;

        &__corner {
            height: $corner-height * 1.5;
        }
    }
}

.footer {
    padding-top: 1em;

    border-top: .2rem solid $gradient-primary;
    background-color: $background-footer;
    color: $text-tertiary;

    &>div {
        margin-left: auto;
        margin-right: auto;

        display: flex;
        flex-flow: column nowrap;
        align-content: space-around;
        max-width: 20em;


        text-align: center;
    }    
}

.footer-list {
    @extend .project-tile__list;

    &__item {
        @extend .project-tile__list-item;
    }
}

img {
    max-width: 100%;
}